WAHA_DASHBOARD_ENABLED=True
WAHA_DASHBOARD_USERNAME=admin
WAHA_DASHBOARD_PASSWORD=NpcSolutions2026!
WHATSAPP_SWAGGER_USERNAME=admin
WHATSAPP_SWAGGER_PASSWORD=NpcSolutions2026!
WHATSAPP_RESTART_ALL_SESSIONS=True
WAHA_PRINT_QR=True
WAHA_API_KEY=your_secret_key_here
